{% extends 'base.html' %}

{% block content %}
    <h1>Products</h1>
    <div class="row">
        {% for product in products %}  <!--  the curly braces with 2 percentage signs and a space is the 'template tag' in Django, we use it to dynamically execute the logic -->
         <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ product.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">${{ product.price }}</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<!--
    <ul>
            <li>{{ product.name }} (${{ product.price }})</li>
        {percentage endfor percentage}
    </ul>
-->
    {% endblock %}